.dash-header {
    background-color: #0a87cfe8;
    color: white;
}

.dash-header__container {
    display: flex;
    justify-content: flex-start;
}

.dash-header__link {
    text-decoration: none;
    background-color: #0046b3;
    color: white;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-left: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease;
    margin-top: 0.5rem;
}

.dash-header__link:hover {
    color: gray;
}

.dash-header__nav {
    display: flex;
    gap: 1rem;
}
