.home {
    text-align: center;
    height: 100%;
    padding: 1rem;
}

.home-container h1 {
    font-size: 3rem;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.links a {
    text-decoration: none;
    background-color: #0046b3;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.2s ease;
    margin-top: 0.5rem;
}

.home-container a:hover {
    text-decoration: underline;
}